<h1>Listing forecastrequests</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Startdate</th>
    <th>Enddate</th>
    <th>Interval</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>

<br />

<%= link_to 'New Forecastrequest', new_forecastrequest_path %>
