<h1><%= injixo_logo %>DevCon App - Home</h1>
<p>Click here to upload data and generate a forecast for this data. You only have to enter your mail address, give the start and end date of the forecasting time frame and the data interval and then you'll have to copy the data form Excel or CSV to the webpage. On submitting the data the Prediction Engine will get involved to calculate the patterns, trends and peaks in the given data to provide the result.</p>
<br />
<br />
<%= link_to "Request Forecast", forecast_path, :class => "reqforecast_button round" %>
